<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Buy Now</title>
	<link rel="stylesheet" type="text/css" href="css/buy-now.css">
</head>
<body>
	<div class="menu">
		<div>
			<h1>Buy Now</h1>
		</div>
		<div class="two">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="">About us</a></li>
				<li><a href="/services">Services</a></li>
				<li><a href="">Sign In/Up/</a></li>
				<li><a href="/buy-now">Buy Now</a></li>
			</ul>	
		</div>
	</div>
	<div class="content">
		<h1>
			Welcome To Newtonian's Solution
		</h1>
		<section class="card-display">
			<table>
				<thead>
					<th colspan="4" style="font-size: 25px">Get your SafeCard now urgently</th>
				</thead>
				<tbody>
					<tr class="table-desc">
						<td>Card Name</td>
						<td>In Words</td>
						<td></td>
						<td>Option</td>
					</tr>
					<tr>
						<td>$5</td>
						<td>Five Dollars</td>
						<td><button class="preview-btn"> Preview</button></td>
						<td style="display:flex;justify-content: center;"><button class="table-option" style="background: blue;margin-right: 6px;">Buy</button><button class="table-option" style="background: green;">Cart</button></td>
					</tr>
					<tr>
						<td>$10</td>
						<td>Ten Dollars</td>
						<td><button class="preview-btn">Preview</button></td>
						<td style="display:flex;justify-content: center;"><button class="table-option" style="background: blue;margin-right: 6px;">Buy</button><button class="table-option" style="background: green;">Cart</button></td>
					</tr>
					<tr>
						<td>$30</td>
						<td>Thirty Dollars</td>
						<td><button class="preview-btn">Preview</button></td>
						<td style="display:flex;justify-content: center;"><button class="table-option" style="background: blue;margin-right: 6px;">Buy</button><button class="table-option" style="background: green;">Cart</button></td>
					</tr>
					<tr>
						<td>$50</td>
						<td>Fifty Dollars</td>
						<td><button class="preview-btn">Preview</button></td>
						<td style="display:flex;justify-content: center;"><button class="table-option" style="background: blue;margin-right: 6px;">Buy</button><button class="table-option" style="background: green;">Cart</button></td>
					</tr>
					<tr>
						<td>$100</td>
						<td>One Hundred Dollars</td>
						<td><button class="preview-btn">Preview</button></td>
						<td style="display:flex;justify-content: center;"><button class="table-option" style="background: blue;margin-right: 6px;">Buy</button><button class="table-option" style="background: green;">Cart</button></td>
					</tr>
					<tr>
						<td>$200</td>
						<td>Two Hundred Dollars</td>
						<td><button class="preview-btn">Preview</button></td>
						<td style="display:flex;justify-content: center;"><button class="table-option" style="background: blue;margin-right: 6px;">Buy</button><button class="table-option" style="background: green;">Cart</button></td>
					</tr>
					<tr>
						<td>$300</td>
						<td>Three Hundred Dollars</td>
						<td><button class="preview-btn">Preview</button></td>
						<td style="display:flex;justify-content: center;"><button class="table-option" style="background: blue;margin-right: 6px;">Buy</button><button class="table-option" style="background: green;">Cart</button></td>
					</tr>
					<tr>
						<td>$500</td>
						<td>Five Hundred Dollars</td>
						<td><button class="preview-btn">Preview</button></td>
						<td style="display:flex;justify-content: center;"><button class="table-option" style="background: blue;margin-right: 6px;">Buy</button><button class="table-option" style="background: green;">Cart</button></td>
					</tr>
					<tr>
						<td>$750</td>
						<td>Seven -  Fifty Dollars</td>
						<td><button class="preview-btn">Preview</button></td>
						<td style="display:flex;justify-content: center;"><button class="table-option" style="background: blue;margin-right: 6px;">Buy</button><button class="table-option" style="background: green;">Cart</button></td>
					</tr>
					<tr>
						<td>$1000</td>
						<td>One Thousand Dollars</td>
						<td><button class="preview-btn">Preview</button></td>
						<td style="display:flex;justify-content: center;"><button class="table-option" style="background: blue;margin-right: 6px;">Buy</button><button class="table-option" style="background: green;">Cart</button></td>
					</tr>
					<tr rowspan="5">
						<th rowspan="8"></th>
					</tr>
				</tbody>
				<tfoot>
					<th colspan="4" style="font-size: 20px;border-top: 2px solid white">Brought to you by Newtonian's Solution</th>
				</tfoot>
			</table>
		</section>
	</div>
</body>
</html>