<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="css/home.css">
    <script src="lib/react.js"></script>
    <script src="lib/react-dom.js"></script>
    <script src="lib/jquery@3.4.1.js"></script>
    <script src="lib/browser.min.js"></script>
</head>
<body>
	<section class="nav-bar">
        <div class="menu">
            <ul>
                <li><h1>SafeMall</h1></li>
                <li id="search"> <input type="search" name="search" placeholder="Search..."> <i class="fa fa-search" style="color: black;font-size: 1.5rem;"></i></li>
                <li><a href="">About us</a></li>
                <li>
                    <select style="border-radius: 1rem;height: 2rem;">
                        <option value=""><strong>Products</strong></option>
                        <optgroup label="Electronics">
                            <optgroup label="TVs and Home">
                                <option value="">LG</option>
                                <option value="">Sony</option>
                                <option value="">Sharp</option>
                                <option value="">StarTimes</option>
                                <option value="">GOTV</option>
                            </optgroup>
                            <optgroup label="Phones">
                                <option value="">LG</option>
                                <option value="">iPhones</option>
                                <option value="">Samsung</option>
                                <option value="">Tecno</option>
                                <option value="">Xiaomi</option>
                                <option value="">Huawei</option>
                                <option value="">Infinix</option>
                                <option value="">Nokia</option>
                                
                            </optgroup>
                            <optgroup label="Laptops">
                                <option value="">Apple</option>
                                <option value="">Sony</option>
                                <option value="">Acer</option>
                                <option value="">HP</option>
                                <option value="">Dell</option>
                                <option value="">eMachines</option>
                                <option value="">Lenovo</option>
                                <option value="">Zinox</option>
                                <option value="">Asus</option>
                                <option value="">Toshiba</option>
                            </optgroup>
                            <optgroup label="Accesories">
                                
                            </optgroup>
                        </optgroup>
                        <optgroup label="Groceries">
                            <option></option>
                            <option value="">Phones</option>
                        </optgroup>
                    </select>
                </li>
                <li>
                    <select name="" id="" style="border-radius: 1rem;height: 2rem;">
                        <option value="">Vendor</option>
                    </select>
                </li>
                <li><a href="">Coupons</a></li>
                <li><a href="">Wallet</a></li>
                <li style="background-color: yellowgreen;padding: 0.5rem;border-radius: 0.5rem;width: 3rem;text-align: center;font-size: larger;">
                    <a href="/services"><i class="fa fa-shopping-cart"></i> <strong>Cart</strong></a>
                </li>
                <li id="sign-btn">Sign In/Up</li>
            </ul>
        </div>
	</section>
	<section class="content">
        <section class="first_div">
            <div class="content-menu">
                <ul>
                    <li><strong><a href=""><i class="fa fa-angle-left"></i>&nbsp; Fashion</a></strong></li>
                    <li><strong><a href=""><i class="fa fa-tv"></i>&nbsp; Electonics</a></strong></li>
                    <li><strong><a href=""><i class="fa fa-laptop"></i>&nbsp; Computer</a></strong></li>
                    <li><strong><a href=""><i class="fa fa-table"></i>&nbsp; Funitures</a></strong></li>
                    <li><strong><a href=""><i class="fa fa-mobile-phone"></i>&nbsp; Phones</a></strong></li>
                    <li><strong><a href=""><i class="fa fa-server"></i>&nbsp; Servers</a></strong></li>
                    <li><strong><a href=""><i class="fa fa-industry"></i>&nbsp; Industrial Parts</a></strong></li>
                    <li><strong><a href="">and more...</a></strong></li>
                </ul>
            </div>
            <div class="featured">
                <div class="left" id="left">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="fcontent">
                    <h2>Laptops</h2>
                    <h1 style="font-size: xx-large;margin-top: 1rem;">Order a Laptop now and get 30% discount</h1>
                    <h1 style="margin-top:2rem;font-size: 2.5rem;font-family: Arial, Helvetica, sans-serif;color: yellowgreen;">SALE UP  TO 50% OFF</h1>
                    <button style="background-color: yellowgreen;margin-top: 1.5rem;padding: 1rem;border-radius: 0.3rem;font-family: Arial, Helvetica, sans-serif;border:none;color:#fff"><strong>Shop now</strong></button>
                </div>
                <div class="right" id="right">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
            <div class="gifts">
                <div class="first-gift">

                </div>
                <div class="second-gift">

                </div>
            </div>
        </section>
    </section>
    <section class="sign-up-in" id="signSection">
        
    </section>
<script type="text/babel" src="js/home.js"></script>
</body>
</html>