<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SafeMall</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<section class="menu">
		<div>
			<h1>SafeMall</h1>
		</div>
		<div class="two">
			<ul>
				<li><a href="">About us</a></li>
				<li><a href="/services">Cart</a></li>
				<li><a href="">Sign In/Up</a></li>
				<li><a href="/buy-now">Hot Deals</a></li>
			</ul>	
		</div>
	</section>
	<div style="display: flex;justify-content: center;">
	<section class="content">
		<h1>
			SafeMall is Here for you
		</h1>
		<div class="safe-board">
			<h2 style="text-align: center;">
				SafeMall is an e-Commerce Platform that brings your Long-Distance customers closer to you with just a click
			</h2>
			<h1>Don't Know Where To Start ?</h1>
		</div>
		<div class="option">
			<div class="continue">
				<a href="/home">Continue</a>
			</div>
			<div class="learn-more">
				<a href="/about-us">Learn More</a>
			</div>
		</div>
	</section>
</div>
	<!--<section class="footer">
		<div>
			<ul>
				<li>
					Request a Help
				</li>
				<li>
					Hire a Freelancer
				</li>
				<li>
					Report a Bug
				</li>
				<li>
					SEO Ranking
				</li>
			</ul>
		</div>
	</section>
--></body>
</html>