<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>DashBoard</title>
	<link rel="stylesheet" type="text/css" href="css/dashboard.css">
</head>
<body>
	<div class="main">
		<section class="user-menu">
			<div class="menu-header"><br>
				<h2><strong>DashBoard</strong></h2>
				<img src="images/profile.jpg" id="profile_img" />
			</div>
			<div class="menu-list">
				<ul>
					<li><a href="">Profile</a></li>
					<li><a href="">Balance</a></li>
					<li><a href="">Orders</a></li>
					<li><a href="">Stall</a></li>
					<li><a href="">Transactions</a></li>
					<li><a href="">Offers</a></li>
					<li><a href="">Withdraw</a></li>
					<li><a href="">Setting</a></li>
					<br>
					<h3><em>SafeMall</em></h3>
				</ul>
			</div>
		</section>
		<section class="dashboard-body">
			<div class="body-top">
				<h1>Hello Welcome</h1>
			</div>
			<div class="body-bottom">
				
			</div>
		</section>
	</div>
</body>
</html>